.footer{
    position: relative;
    background-color: $color-naranja;
    padding: 35px 0px;
    width: 914px;
}
.footer img{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
}
